@import "fonts"
@import "libs"
@import "base"
@import "vars"

.header
  .menubar-top
    height: 43px
    line-height: 43px
  position: relative

  &:before
    content: ""
    display: block
    width: 100%
    height: 43px
    background-color: $back
    position: absolute
    left: 0
    right: 0
    top: 0
    z-index: -1
  & ul
    margin: 0
    padding: 0
    list-style: none
    overflow: hidden
    & li
      display: inline-block
      margin-right: 25px
      &:last-child
        margin-right: 0
      & a
        font-size: 13px
        color: $for-font
  & .top-nav
    display: inline-block
    height: 43px
    line-height: 43px
  & .rus-ukr
    display: inline-block
    height: 43px
    line-height: 43px
    margin: auto 30px
    & ul
      & li
        &:hover
          border-bottom: 2px solid red
          height: 43px
          line-height: 43px
        & a
          &:hover
            color: #333
  & .town-menu
    display: inline-block
    height: 43px
    line-height: 43px
    margin: auto 30px
    & .your-town
      position: absolute
      background: none
      text-transform: none
      padding: 0
      box-shadow: none
      line-height: 43px
      color: #333
      font-size: 13px
      &:before
        content: "Your city: "
        font-size: 13px
        color: #333
        margin-right: 30px
  & .register-menu
    display: inline-block
    float: right
    height: 43px
    line-height: 43px
    margin: auto 30px
    & .red-login
      color: #fb2539
  & .second-menu
    nav.height-100
      height: 110px
      background: none
      box-shadow: none
      line-height: 110px
      .brand-logo
        display: flex
        height: 100%
        position: relative
        background-color: $accent
        padding: 25px
      .search-form
        width: 240px
        position: relative
        border: 1px solid #c7c7c7
        display: flex
        margin: 30px 10px
        border-radius: 30px
        color: #333
        padding-left: 10px
      label
        position: absolute
        left: 440px
        font-size: 18px
      ul
        li
          position: relative
          margin-right: 0
          a
            &:hover
              background: none
          a.dropdown-button
            color: #333333
            font-size: 18px
            font-weight: bold
            padding: 0
            i
              line-height: 110px
              height: 110px
              margin: 0
          a.btn
            background: none
            border: 2px solid $accent
            box-shadow: none
            text-transform: none
            color: #333333
            margin: 0
          a.before-icons1
            padding: 0 8px
            span
              color: #333333
            &:before
              content: ""
              background-image: url("../img/garag.png")
              background-repeat: no-repeat
              width: 27px
              height: 26px
              position: absolute
              top: 20px
              left: 13px
          a.before-icons2
            padding: 0 8px
            span
              color: #333333
            &:before
              content: ""
              background-image: url("../img/heart.png")
              background-repeat: no-repeat
              width: 33px
              height: 26px
              position: absolute
              top: 20px
              left: 13px
          a.before-icons3
            padding: 0 8px
            span
              color: #333333
            &:before
              content: ""
              background-image: url("../img/vaga.png")
              background-repeat: no-repeat
              width: 32px
              height: 23px
              position: absolute
              top: 20px
              left: 10px
          a.before-icons4
            padding: 0 8px
            span
              color: #333333
            &:before
              content: ""
              background-image: url("../img/telega.png")
              background-repeat: no-repeat
              width: 30px
              height: 27px
              position: absolute
              top: 20px
              left: 10px
  .sub-menu
    width: 100%
    background-color: $color-2
    line-height: 55px
    height: 55px
    ul
      li
        margin-right: 0
        width: 180px
        text-align: center
        a
          color: #fff
          text-transform: uppercase
          i
            line-height: 55px
            height: 55px
            margin-right: 8px
            font-size: 16px
            font-weight: 400
            color: $accent
        &:first-child
          width: 211px
          background-color: #fb2539
          text-align: left
          &:hover
            background-color: #fb2539
          a
            color: #fff
            font-size: 16px
            &:hover
              background: none
            i
              line-height: 55px
              height: 55px
              float: right


.breadcrumbs
  nav
    background: none
    box-shadow: none
    font-weight: 400
    height: 50px
    line-height: 50px
    a
      color: #999999
      font-size: 13px
      &:before
        color: #999999
        font-size: 13px
        vertical-align: middle
      &:last-child
        color: #999999

.tovar-area
  h1
    font-size: 30px
    font-weight: bold
  .little-img
    .product-thumbnails
      height: 200px
      position: relative
      list-style: none
      li
        float: left
        width: 75px
        height: 86px
        text-align: center
        margin-right: 5px
        &:first-child
          a
          border: solid 1px #d1d1d1
        &:nth-child(2)
          a
          border: solid 1px #d1d1d1
        &:nth-child(3)
          a
            height: 75px
            img
              top: 0
        a
          display: block
          width: 75px
          height: 84px
          &:hover
            border: 1px solid $accent
          img
            display: inline
            position: relative
            top: 13px



.shop-information
  .out-now
    display: inline-block
    &:before
      content: "Out now"
      font-size: 13px
      margin-right: 10px
      font-weight: bold
    li
      font-size: 13px
      color: $accent
  .people-says
    display: inline-block
    margin-left: 10px
    &:before
      content: '\f0e5'
      color: #777777
      font-family: "FontAwesome"
      font-size: 15px
      margin-right: 3px
    a
      font-size: 13px
      color: #777777
      font-weight: bold
      border-bottom: 0.5px solid #777777
  .questions
    display: inline-block
    margin-left: 10px
    &:before
      content: '\f29c'
      color: #777777
      font-family: "FontAwesome"
      font-size: 15px
      margin-right: 3px
    a
      font-size: 13px
      color: #777777
      font-weight: bold
      border-bottom: 0.5px solid #777777


  .price-section
    .card-panel
      background-color: #f7f7f9
      box-shadow: none
      .price
        color: #999999
        font-size: 40px
        font-weight: bold
        sub
          bottom: 0
          font-size: 20px
      .button
        background: none
        box-shadow: none
        border: 2px solid red
        color: #333333
        font-size: 18px
        font-weight: bold
        text-transform: none
        margin: 15px 0
        &:hover
          background: red
          color: #ffffff
      p
        font-size: 12px
        color: #777777
      .bottom-area
        .share
          li
            display: inline-block
            &:before
              content: '\f1e0'
              font-size: 18px
              color: #333333
              font-family: "FontAwesome"
              margin-right: 10px
            &:last-child
              margin-left: 30px
              &:before
                content: '\f24e'
                font-size: 18px
                color: #333333
                font-family: "FontAwesome"
                margin-right: 10px
            a
              color: #333333
              font-size: 13px
              font-weight: bold


.list-of-products
  .header
    .angle-right, .angle-left
      position: relative
      color: #777777
      cursor: pointer
    .angle-left
      right: -60px
    .angle-right
      left: 60px
    .right-angle
      display: inline-block
      width: 30px
      height: 30px
      background-color: #3c3f43
      text-align: center
      &:hover
        background-color: #474a4e
      &:before
        position: absolute
        content: '\f104'
        font-family: FontAwesome
        font-size: 15px
        color: #ffffff
        top: 3px
        left: 12px
    .left-angle
      display: inline-block
      width: 30px
      height: 30px
      background-color: #3c3f43
      text-align: center
      &:hover
        background-color: #474a4e
      &:before
        position: absolute
        content: '\f105'
        font-family: FontAwesome
        font-size: 15px
        color: #ffffff
        top: 3px
    .btn-wrapper-on
      display: inline-block
      float: right
      position: relative
      top: -50px
      right: 8vw
    h2
      font-size: 25px
      font-weight: bold
    &:before
      background: none
  .slider-area
    .slick-slide
      outline: none
    .card
      background: none
      box-shadow: none
      .card-image
        position: relative
        text-align: center
        .discount
          position: absolute
          display: block
          top: 0
          background-color: #ff8941
          padding: 4px
          border-radius: 5px
          font-size: 15px
          font-weight: bold
          color: #fff
          left: -10px
          z-index: 99

      .card-content
        padding: 0
        margin-top: 10px
        .code-prod
          font-size: 10px
          font-weight: 500
          display: inline-block
          color: #777
        .in-stock
          font-size: 12px
          font-weight: 500
          display: inline-block
          color: darkgreen
          margin-left: 10px
          &:before
            content: '\e876'
            font-size: 13px
            font-family: "Material Icons"
            vertical-align: sub
            margin-right: 3px
        .card-title
          display: block
          line-height: 20px
          color: #333
          font-size: 16px
          font-weight: bold
          margin: 10px 0
        .price
          display: inline-block
          color: #333333
          font-size: 25px
          font-weight: bold
          sub
            font-size: 14px
            bottom: 0
        .big-price
          display: inline-block
          font-size: 16px
          color: #ff8941
          text-decoration: line-through
          margin-left: 10px
          font-weight: bold
          sub
            bottom: 0
            font-size: 12px

.tabs-content
  .tabs
    border-bottom: 1px solid #e9eaeb
    .tab
      a
        color: #777777
        font-weight: bold
        font-size: 16px
        text-transform: none
      a.active, a:hover
        color: #fb2539
    .indicator
      background-color: #fb2539
  #test1
    h3
      font-weight: bold
      font-size: 20px
    table>tbody>tr>td
      padding-left: 20px
      font-size: 13px
      font-weight: 700
    #show_more[data-event=true] tr:nth-child(1n+7)
      display: none
    button.showmore
      background: none
      box-shadow: none
      border: none
      color: #333333
      font-size: 13px
      font-weight: 600
      border-bottom: 1px solid #333333
      padding: 0
      &:before
        content: '\f107'
        font-family: FontAwesome
        color: #fb2539
        font-size: 14px
        margin-right: 10px
    #show_more[data-event=true]
     &+button.showmore:after
        content: "Show more"
    #show_more
      &+button.showmore:after
        content: "Show less"
  #test2
    p
      font-size: 13px
      font-weight: 600
.product-description
  margin-top: 40px
  h3
    font-weight: 700
    font-size: 20px
  p
    font-size: 13px
    font-weight: 600
  div[data-event=true] p:nth-child(1n+3)
    display: none
  button.showmore
    background: none
    box-shadow: none
    border: none
    color: #333333
    font-size: 13px
    font-weight: 600
    border-bottom: 1px solid #333333
    padding: 0
    &:before
      content: '\f107'
      font-family: FontAwesome
      color: #fb2539
      font-size: 14px
      margin-right: 10px

.testimonials
  button.showmore
    background: none
    box-shadow: none
    border: none
    color: #333333
    font-size: 13px
    font-weight: 600
    border-bottom: 1px solid #333333
    padding: 0
    &:before
      content: '\f107'
      font-family: FontAwesome
      color: #fb2539
      font-size: 14px
      margin-right: 10px
  a.button
    background: 0 0
    -webkit-box-shadow: none
    box-shadow: none
    border: 2px solid red
    color: #333
    font-size: 13px
    font-weight: 700
    text-transform: none
    margin: 15px 0
    float: left
    &:hover
      background: red
      color: #fff
  a.button-yellow
    background: $accent
    -webkit-box-shadow: none
    box-shadow: none
    color: #333
    font-size: 13px
    font-weight: 700
    text-transform: none
    margin: 15px 0
    float: right
.card
  box-shadow: none
  border: 1px solid $accent
  padding: 10px
  h4
    font-size: 15px
    font-weight: bold
    display: inline-block
  .date
    display: inline-block
    font-size: 13px
    color: #999999
    margin-left: 20px
  p
    font-size: 13px
    font-weight: 600
    .advantages
      color: green
      margin-right: 20px
    .disadvantages
      color: red
      margin-right: 20px
  .testimonials-down
    font-size: 13px
    font-weight: bold
    border-bottom: 1px solid #999
    color: #333333
    &:last-child
      margin-left: 35px
  .spaner
    margin: 15px 0
    float: left
    display: inline-block
  .good-span
    margin: 15px 0
    float: right
    display: inline-block
    p
      display: inline-block
      font-size: 13px
      font-weight: 600
    a
      display: inline-block
      margin: 0 5px
      color: #333333
      i
        font-size: 19px
        margin-right: 5px
        color: #333333
    .like
      color: green
      font-size: 13px
      font-weight: bold
    .dislike
      color: red
      font-size: 13px
      font-weight: bold
.rating
  font-size: 13px
  li
    color: $accent
    margin-right: 5px
  .mark-total
    font-size: 13px
    font-weight: bold

.reviewed-products
  h2
    font-size: 25px
    font-weight: 700
    display: inline-block
    &:before
      display: none
  .showmore
    display: inline-block
    background: none
    box-shadow: none
    border: none
    color: #333333
    font-size: 13px
    font-weight: 600
    border-bottom: 1px solid #333333
    padding: 0
    margin-left: 30px
    &:after
      content: '\f105'
      font-family: FontAwesome
      color: #fb2539
      font-size: 14px
      margin-left: 10px
.card
  border: 1px solid #eff0f3
  .card-image
    margin-bottom: 15px
  .card-content
    padding: 0
    .card-title
      font-size: 13px
      font-weight: bold
      line-height: 17px
    .in-stock
      color: #57ae85
      font-size: 12px
      font-weight: 500
      &:before
        content: '\e876'
        font-size: 13px
        font-family: "Material Icons"
        vertical-align: sub
        margin-right: 3px
    .price
      color: #333333
      font-weight: bold
      font-size: 25px
      sub
        bottom: 0
    .btn
      background-color: #fb2539
      color: #ffffff
      text-transform: none
      font-size: 13px
      font-weight: 700
      box-shadow: none
      &:hover
        background-color: $accent
    img
      display: inline-block
      vertical-align: middle
      margin-left: 15px
    .down-area
      ul
        li
          margin-right: 0
        span
          color: #777777
          font-weight: 400
          border-bottom: 1px solid #777777
          margin-left: 5px
          &:before
            content: '\e253'
            font-family: "Material Icons"
            font-size: 15px
            color: #777777
            margin-right: 3px
            vertical-align: middle


.footer
  background-color: #474a4e
  .content
    .forphone
      display: block
    .social li
      display: inline-block
      margin-right: 5px
    .social li .fa
      display: inline-block
      width: 35px
      height: 35px
      line-height: 35px
      border: 1px solid red
      border-radius: 20px
      background-color: #ff6782
      color: red
      text-align: center

@import "media"
